<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_PATH" value="./logs"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>   ${LOG_PATH}/application-%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <totalSizeCap>30MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="MYCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-mm-dd}][%-5level][%logger] %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="board" level="WARN" appender-ref="MYCONSOLE"/>
    <logger name="jdbc.sqlonly" level="INFO" appender-ref="MYCONSOLE"/>
    <logger name="jdbc.resultsettable" level="INFO" appender-ref="MYCONSOLE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>




</configuration>